<div class="form-infos form-infos-modal">
  <div class="form">
    <select id="format">
      <option value="none" disabled selected>Select a Format</option>
      <option value="csv">CSV</option>
      <option value="json">JSON</option>
    </select>
  </div>
</div>