<h1>{{title}}</h1>

<div class="grid-settings">
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-users"></i>
      <a href="#user-management">User Management</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-key"></i>
      <a href="#temp-password">Temporary Password</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-newspaper"></i>
      <a href="#jobs-log">Jobs Log</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-unlock-alt"></i>
      <a href="#app-keys">App Keys</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-water"></i>
      <a href="#source-management">
        <p>Data Source</p>
        <p>Management</p>
      </a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-robot"></i>
      <a href="#ml-management">
        <p>Machine Learning</p>
        <p>Management</p>
      </a>
    </div>
  </div>
  <div class="grid-item item-disabled">
    <div class="content">
      <i class="fas fa-brain"></i>
      <a href="#dl-management">
        <p>Deep Learning</p>
        <p>Management</p>
      </a>
    </div>
  </div>
</div>
