<h1>{{title}}</h1>

<div class="grid-settings">
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-users"></i>
      <a href="#user-management">User Management</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-tasks"></i>
      <a href="#job-management">Job Management</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-key"></i>
      <a href="#temp-password">Temporary Password</a>
    </div>
  </div>
  <div class="grid-item item-disabled">
    <div class="content">
      <i class="fas fa-square-root-alt"></i>
      <a href="#feature-management">Feature Management</a>
    </div>
  </div>
  <div class="grid-item item-disabled">
    <div class="content">
      <i class="fas fa-brain"></i>
      <a href="#algorithm-management">Algorithm Management</a>
    </div>
  </div>
</div>
