<div class="grid-settings">
  <div class="grid-item" id="user-infos">
    <div class="content">
      <i class="fas fa-users"></i>
      <a href="#users-management">Users Management</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-tasks"></i>
      <a href="#jobs-management">Jobs Management</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-key"></i>
      <a href="#temp-password">Temporary Password</a>
    </div>
  </div>
</div>
