<i class="fas fa-info"></i>
<p>You can upload any dataset as a <strong>JSON</strong> or a <strong>CSV</strong> file.
  Since the dataset will be validated during the upload process, it can contains accelerometer, gyroscope and
  magnetometer data. Each sensor must be identified by its short name such as : <strong><code>ACC</code></strong>,
  <strong><code>GYR</code></strong> and <strong><code>MAG</code></strong> respectively. Moreover, each axis for all
  sensors must be identified by its conventional name prefixed by a &laquo;
  <strong><code>_</code></strong> &raquo; (<em>i.e.</em> <strong><code>_X</code></strong>,
  <strong><code>_Y</code></strong> and <strong><code>_Z</code></strong>). Finally, it is important for the last column
  to
  be named <strong><code>LABEL</code></strong>.</p>