<i class="fas fa-info"></i>
<p>You can upload any dataset you want as far as it's either a <strong>JSON</strong> or a <strong>CSV</strong> file.
  If the file is <strong>JSON</strong>, it will be automatically converted to <strong>CSV</strong> since only this
  format is considered by the system.
  Your dataset will be validated during the upload process. Hence, it can contains as much columns as needed
  but it is important for the last one to be named <strong><code>label</code></strong>.</p>
