{{#each files as |file|}}
<tr>
  <td></td>
  <td>{{file.filename}}</td>
  <td class="center">{{file.format}}</td>
  <td class="center">{{~#[format/bytes] file.size~}}{{/[format/bytes]~}}</td>
  <td>{{~#[format/date] file.dateCreated 'DD/MM/YYYY HH:mm'~}}{{/[format/date]~}}</td>
</tr>
{{else}}
<tr>
  <td></td>
  <td class="no-data" colspan="4">No models found ☹️</td>
</tr>
{{/each}}
