{{#each files as |file|}}
<tr>
  <td></td>
  <td>{{file.filename}}</td>
  <td class="center">{{file.type}}</td>
  <td class="center">{{~#[format/bytes] file.size~}}{{/[format/bytes]~}}</td>
  <td>{{~#[format/date] file.dateCreated 'DD/MM/YYYY HH:mm'~}}{{/[format/date]~}}</td>
</tr>
{{else}}
{{#[utils/compare] loading '===' true}}
<tr>
  <td></td>
  <td class="no-data" colspan="4">
    <span class="loading">
      Fetching data...
      <i class="fas fa-spinner"></i>
    </span>
  </td>
</tr>
{{else}}
<tr>
  <td></td>
  <td class="no-data" colspan="4">No file found ☹️</td>
</tr>
{{/[utils/compare]}}
{{/each}}
