<div class="form-infos form-infos-modal">
  <div class="form">
    <form action="#">
      <label for="label"></label>
      <input type="text" id="label" name="label" autocomplete="false" placeholder="Name" required />
      <select id="version" required>
        <option value="none" disabled selected>Configuration Version</option>
        <option value="1">Version 1</option>
      </select>
    </form>
  </div>
</div>
