<div class="form-infos form-infos-modal">
  <div class="form">
    <form action="#">
      <select id="version">
        <option value="none" disabled selected>Select a Version</option>
        <option value="1">Version 1</option>
      </select>
    </form>
  </div>
</div>
