<h1>{{title}}</h1>

<div class="grid-settings">
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-robot"></i>
      <a href="#machine-learning">Machine Learning Pipeline</a>
    </div>
  </div>
  <div class="grid-item item-disabled">
    <div class="content">
      <i class="fas fa-brain"></i>
      <a href="#deep-learning">Deep Learning Pipeline</a>
    </div>
  </div>
</div>
