<ul class="tasks-nav">
  <li class="task-nav-item item-active" data-task="select-process">
    <button><i class="fas fa-layer-group"></i>Process</button>
    <span class="indicator">
      <i class="fas fa-caret-up"></i>
    </span>
  </li>
  <li class="task-nav-item-link">
    <i class="fas fa-minus"></i>
  </li>
  <li class="task-nav-item item-disabled" data-task="data-source">
    <button><i class="fas fa-plus"></i>Input</button>
    <span class="indicator">
      <i class="fas fa-caret-up"></i>
    </span>
  </li>
  <li class="task-nav-item-link">
    <i class="fas fa-minus"></i>
  </li>
  <li class="task-nav-item item-disabled" data-task="windowing">
    <button><i class="fas fa-wave-square"></i>Windowing</button>
    <span class="indicator">
      <i class="fas fa-caret-up"></i>
    </span>
  </li>
  <li class="task-nav-item-link">
    <i class="fas fa-minus"></i>
  </li>
  <li class="task-nav-item item-disabled" data-task="feature-extraction">
    <button><i class=" fas fa-square-root-alt"></i>Features</button>
    <span class="indicator">
      <i class="fas fa-caret-up"></i>
    </span>
  </li>
  <li class="task-nav-item-link">
    <i class="fas fa-minus"></i>
  </li>
  <li class="task-nav-item item-disabled" data-task="process">
    <button><i class="fas fa-brain"></i>Learning</button>
    <span class="indicator">
      <i class="fas fa-caret-up"></i>
    </span>
  </li>
</ul>