{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.6.5"
      }
    ],
    [
      "minify",
      {
        "builtIns": false
      }
    ]
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    ["@babel/plugin-proposal-object-rest-spread"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@Assets": "./src/public/assets",
          "@Styles": "./src/styles/main.scss",
          "@Controller": "./src/core/Controller.js",
          "@Configuration": "./src/configuration/Configuration.js",
          "@ConfVersion": "./src/configuration/Version.js",
          "@Theme": "./src/core/theme/Theme.js",
          "@Store": "./src/core/Store.js",
          "@Events": "./src/core/Events.js",
          "@Router": "./src/core/router/Router.js",
          "@Routes": "./src/core/router/routes.js",
          "@Menu": "./src/components/menu",
          "@FileList": "./src/components/file-list/FileList.js",
          "@Components": "./src/components",
          "@Component": "./src/components/Component.js",
          "@Errors": "./src/components/errors",
          "@Error404": "./src/components/errors/Error404.js",
          "@Error500": "./src/components/errors/Error500.js",
          "@APIHelper": "./src/helpers/APIHelper.js",
          "@FileHelper": "./src/helpers/FileHelper.js",
          "@ListHelper": "./src/helpers/ListHelper.js",
          "@ModalHelper": "./src/helpers/ModalHelper.js",
          "@SortHelper": "./src/helpers/SortHelper.js",
          "@StringHelper": "./src/helpers/StringHelper.js",
          "@URLHelper": "./src/helpers/URLHelper.js"
        },
        "extensions": [".js", ".scss", ".html", ".json"]
      }
    ]
  ]
}
