.git/
.github/
.vscode/
build/
node_modules/
.dockerignore
.editorconfig
.env.example
.eslintignore
.eslintrc
.gitattributes
.gitignore
.prettierignore
.prettierrc
.versionrc
*.md
Dockerfile
docker-compose.yml
LICENSE
