@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.custom-scroll-accent::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scroll-accent::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.custom-scroll-accent::-webkit-scrollbar-thumb {
  border-radius: 0.25em;
  @include themify($themes) {
    background-color: themed('color-text-secondary');
  }
}

.custom-scroll-accent {
  scrollbar-width: thin;
  @include themify($themes) {
    scrollbar-color: themed('color-text-secondary') transparent;
  }
}

.logs-container {
  max-width: 900px;
  margin: 0 auto;

  .download-container {
    float: right;
    width: 80px;
    height: 35px;
    border-bottom-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    line-height: 33px;
    font-size: 1.2em;

    @include themify($themes) {
      border-left: 3px solid themed('color-primary');
      border-bottom: 3px solid themed('color-primary');
      background-color: themed('color-secondary');
      color: themed('color-accent');
    }

    &:hover {
      cursor: pointer;
    }

    &.loading {
      cursor: default;
    }

    &:not(.loading):hover {
      i {
        animation: rubber-band 0.6s linear;
      }
    }
  }

  .logs-wrapper {
    border-radius: 0.35rem;
    padding: 4em 2em 2em 2em;
    text-align: left;
    letter-spacing: normal;
    font-family: 'Roboto Mono', monospace;
    height: 625px;
    font-size: 0.9em;

    @include themify($themes) {
      background-color: themed('color-secondary');
    }

    .content {
      height: 100%;
      overflow: auto;

      p:not(:first-of-type) {
        padding-top: 1.15em;
      }
    }
  }
}

@media screen and (max-height: 750px) and (min-width: 900px) {
  .logs-container {
    .logs-wrapper {
      height: 490px;
    }
  }
}
