<h1>{{title}}</h1>

<div class="logs-container">
  <div class="download-container">
    <i class="fas fa-file-download"></i>
  </div>
  <div class="logs-wrapper">
    <div class="content custom-scroll-accent">
      <p>
        <i class="fas fa-chevron-right"></i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <p>
        <i class="fas fa-chevron-right"></i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At sunt, velit dicta, ad laborum repellat.
      </p>
      <p>
        <i class="fas fa-chevron-right"></i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <p>
        <i class="fas fa-chevron-right"></i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At sunt, velit dicta, ad laborum repellat, quasi
        quaerat
        quisquam incidunt veritatis beatae autem?
      </p>
    </div>
  </div>
</div>
