<h1>{{title}}</h1>
<div class="auto-update-container">
  <div class="wrapper">
    <div class="switch-label">
      <span>Enable auto-updates ?</span>
    </div>
    <div class="switch-auto-update">
      <input type="radio" name="switch-au" id="switch-off" checked />
      <input type="radio" name="switch-au" id="switch-on" />
      <span class="toggle"></span>
    </div>
  </div>
</div>
<div class="logs-container">
  <div class="download-container">
    <i class="fas fa-file-download"></i>
  </div>
  <div class="logs-wrapper">
    <div class="content">
      <div id="log-entries" class="custom-scroll-logs">
        {{#log-entries}}{{> log-list}}{{/log-entries}}
      </div>
    </div>
  </div>
</div>
