<h1>
  {{title}}
  <span class="badge badge-right">{{total}}</span>
</h1>

<div class="grid-container" id="functions">
  <div class="outer-grid">
    <div class="outer-item" id="add">
      <div class="content">
        <i class="fas fa-plus"></i>
        <h3>Add a new Window Function</h3>
      </div>
    </div>
  </div>
  {{#> ../../search/search}}{{/../../search/search}}
  {{#> ../../filters/filters}}{{/../../filters/filters}}
  <div class="grid-functions">
    {{#functions}}{{> func-list}}{{/functions}}
  </div>
</div>
