<h1>{{title}}</h1>
<div class="switch-group switch-large">
  <input type="radio" id="switch-started" name="jobs" value="started" />
  <label for="switch-started">
    <i class="fas fa-hourglass-start"></i>
    Started
  </label>
  <input type="radio" id="switch-completed" name="jobs" value="completed" />
  <label for="switch-completed">
    Completed
    <i class="fas fa-check"></i>
  </label>
</div>
