<h1>{{title}}</h1>
<div class="switch-group switch-large">
  <input type="radio" id="switch-started" name="jobs" value="started" checked />
  <label for="switch-started">
    <i class="fas fa-hourglass-start"></i>
    Started
  </label>
  <input type="radio" id="switch-completed" name="jobs" value="completed" />
  <label for="switch-completed">
    Completed
    <i class="fas fa-check"></i>
  </label>
</div>
<div class="auto-update-container">
  <div class="wrapper">
    <div class="switch-label">
      <span>Enable auto-updates ?</span>
    </div>
    <div class="switch-auto-update">
      <input type="radio" name="switch-au" id="switch-off" checked />
      <input type="radio" name="switch-au" id="switch-on" />
      <span class="toggle"></span>
    </div>
  </div>
</div>
<div class="grid-container" id="jobs">
  <div class="grid-jobs">
  </div>
</div>
