<div class="action action-top-left">
  <button id="select-all-toggle" data-toggle='false'>
    <i class="far fa-square"></i>
  </button>
</div>
<div class="task-content">
  <h2>{{title}}</h2>
  <section id="feature-list-container"></section>
</div>
<div class="btn-group-nav">
  <div class="next">
    <button class="primary">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="previous">
    <button class="secondary">
      <i class="fas fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>
