<div class="action action-top-left">
  <button id="select-all-toggle" data-toggle='false'>
    <i class="far fa-square"></i>
  </button>
</div>
<div class="task-content">
  <h2>{{title}}</h2>
  <div class="form-elems source-select">
    <div class="form-elem inline">
      <span class="label-container">
        <label for="source">Source</label>
      </span>
      <select id="source">
        <option value="none" data-source="none" disabled>Select a Source</option>
        <option value="inertial" data-source="inertial" selected>Inertial</option>
      </select>
    </div>
  </div>
  <section id="feature-list">
    <div class="feature-container" id="time-features">
      <h3>
        Time Domain
        <span class="badge badge-right">{{~totalTimeFeatures~}}</span>
      </h3>
      <div class="list-container">
        {{#time-features}}{{> feature-list}}{{/time-features}}
      </div>
    </div>
    <div class="feature-container" id="freq-features">
      <h3>
        Frequential Domain
        <span class="badge badge-right">{{~totalFreqFeatures~}}</span>
      </h3>
      <div class="list-container">
        {{#freq-features}}{{> feature-list}}{{/freq-features}}
      </div>
    </div>
  </section>
</div>
<div class="btn-group-nav">
  <div class="next">
    <button class="primary">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="previous">
    <button class="secondary">
      <i class="fas fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>
