<h1>{{title}}</h1>
<div class="description">
  <p>You can upload any dataset you want as far as it's either a <strong>JSON</strong> or a <strong>CSV</strong> file.
    Your dataset will be validated during the upload process. Hence, such a file can contains as much attributes (or
    colomns) as needed while one of them must be named <strong><code>label</code></strong>.</p>
</div>
<div class="upload-wrapper">
  <div class="file-upload-container">
    <form method="POST" enctype="multipart/form-data">
      <input type="file" id="file-input" name="file-input">
      <label id="file-upload-label" for="file-input">
        <div class="infos">
          <i class="fas fa-upload"></i>
          <p>Drag and drop or click to upload a file</p>
          <p></p>
        </div>
        <button type="submit">Upload</button>
        <div class="progress-container">
          <p id="value"></p>
          <progress class="progress" max="100"></progress>
          <p id="cancel">
            <a href="#">Cancel</a>
          </p>
        </div>
      </label>
    </form>
  </div>
</div>
