<h1>{{title}}</h1>

<div class="switch-group switch-large">
  <input type="radio" id="switch-raw" name="files" value="raw" checked />
  <label for="switch-raw">
    <i class="fas fa-file-alt"></i>
    Raw
  </label>
  <input type="radio" id="switch-features" name="files" value="features" />
  <label for="switch-features">
    <i class="fas fa-square-root-alt"></i>
    Features
  </label>
</div>

<div class="description">
  <i class="fas fa-info"></i>
  <p>You can upload any dataset you want as far as it's either a <strong>JSON</strong> or a <strong>CSV</strong> file.
    If the file is <strong>JSON</strong>, it will be automatically converted to <strong>CSV</strong> and only this
    format will be usable.
    Your dataset will be validated during the upload process. Hence, such a file can contains as much colomns as needed
    while the last of them must be named <strong><code>label</code></strong>.</p>
</div>
<div class="upload-wrapper">
  <div class="file-upload-container">
    <form method="POST" enctype="multipart/form-data">
      <input type="file" id="file-input" name="file-input">
      <label id="file-upload-label" for="file-input">
        <div class="infos">
          <i class="fas fa-upload"></i>
          <p>Drag and drop or click to upload a file</p>
          <p></p>
        </div>
        <button type="submit">Upload</button>
        <div class="progress-container">
          <p id="value"></p>
          <progress class="progress" max="100"></progress>
          <p id="cancel">
            <a href="#">Cancel</a>
          </p>
        </div>
      </label>
    </form>
  </div>
</div>