<div class="form-infos form-infos-modal">
  <div class="form">
    <label for="filename"></label>
    {{#if filename}}
      <input type="text" id="filename" name="filename" autocomplete="false" placeholder="Filename" value="{{filename}}"
      required />
    {{else}}
      <input type="text" id="filename" name="filename" autocomplete="false" placeholder="Filename" required />
    {{/if}}
  </div>
</div>
