<h1>{{title}}</h1>

<div class="grid-settings">
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-align-left"></i>
      <a href="#file-content">File Content</a>
    </div>
  </div>
  <div class="grid-item item-disabled">
    <div class="content">
      <i class="fas fa-shapes"></i>
      <a href="#data-fusion">Data Fusion</a>
    </div>
  </div>
</div>
