<div class="form-infos form-infos-modal">
  <div class="form form-copy-key">
    <p>Make sure to copy your new app key now.</p>
    <p>You won’t be able to see it again!</p>
    <form action="#">
      <label for="key"></label>
      <input type="text" id="key" name="key" value="{{key}}" readonly />
      <button id="copy-key">
        <i class="far fa-clipboard"></i>
      </button>
    </form>
  </div>
</div>
