<h1>{{title}}</h1>

<div class="grid-settings">
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-upload"></i>
      <a href="#data-import">Data Import</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-file-alt"></i>
      <a href="#file-management">File Management</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-database"></i>
      <a href="#data-management">Data Management</a>
    </div>
  </div>
  <div class="grid-item">
    <div class="content">
      <i class="fas fa-chart-area"></i>
      <a href="#data-visualisation">Data Visualisation</a>
    </div>
  </div>
</div>
