h1 {
  margin-bottom: 50px;
}

.badge {
  width: 100%;
  height: 100%;
  line-height: 1;
  position: relative;
  cursor: default;
  top: -1px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  font-size: 75%;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.25em 0.4em;

  @include themify($themes) {
    background-color: themed('color-secondary');
    color: themed('color-text-primary');
  }
}

.badge-left {
  margin-right: 8px;
}

.badge-right {
  margin-left: 8px;
}
