<div class="import-container">
  <div class="form-container">
    <form method="POST" enctype="multipart/form-data">
      <input type="file" id="import-config" name="config" accept=".yml,.yaml">
      <label for="import-config">
        <i class="fas fa-file-upload"></i>
        <button type="submit">Upload</button>
      </label>
    </form>
  </div>
</div>
<div class="task-content">
  <h2>{{title}}</h2>
  <div class="process-selector">
    <div class="switch-group">
      <input type="radio" id="switch-train" name="process" value="train" />
      <label for="switch-train">
        <i class="fas fa-running"></i>
        Training
      </label>
      <input type="radio" id="switch-test" name="process" value="test" />
      <label for="switch-test">
        Testing
        <i class="fas fa-question-circle"></i>
      </label>
      <input type="radio" id="switch-none" name="process" value="none" />
      <label for="switch-none">
        None
        <i class="fas fa-times"></i>
      </label>
    </div>
    <div class="process-options"></div>
  </div>
</div>
<div class="btn-group-nav">
  <div class="next">
    <button class="primary">
      Next
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
