<h1>{{title}}</h1>

<div class="data-viz-wrapper">
  <div class="form-elems">
    <div class="form-elem inline">
      <span class="label-container">
        <label for="file">File</label>
      </span>
      <select class="no-caps" id="file">
        <option disabled selected>Select a File</option>
        <optgroup id="raw" label="Raw Datasets">
          {{#raw-files}}{{> file-list}}{{/raw-files}}
        </optgroup>
        <optgroup id="features" label="Features Datasets">
          {{#features-files}}{{> file-list}}{{/features-files}}
        </optgroup>
      </select>
    </div>
    <div class="form-elem inline">
      <span class="label-container">
        <label for="attribute">Att.</label>
      </span>
      <select class="no-caps" id="attribute">
        <option disabled selected>Select an Attribute</option>
        {{#attributes}}{{> attribute-list}}{{/attributes}}
      </select>
    </div>
  </div>
  <div class="chart-container">
    <div id="chart"></div>
  </div>
</div>
