<div class="filters">
  <span class="filter filter-active" data-action="alpha-sort" data-order="asc">
    <i class="fas fa-font"></i>
    <i class="fas fa-long-arrow-alt-up"></i>
  </span>
  <span class="filter" data-action="creation-sort" data-order="asc">
    <i class="fas fa-calendar-check"></i>
    <i class="fas fa-long-arrow-alt-up"></i>
  </span>
  <span class="filter" data-action="connection-sort" data-order="asc">
    <i class="fas fa-clock"></i>
    <i class="fas fa-long-arrow-alt-up"></i>
  </span>
</div>
