{{#each attributes as |attribute|}}
<option value="{{attribute.label}}">{{attribute.label}}</option>
{{else}}
{{#[utils/compare] loading '===' true}}
<option disabled>Fetching data...</option>
{{else}}
<option disabled>No attribute found</option>
{{/[utils/compare]}}
{{/each}}
