<section id="file-upload">
  <h3>Upload New Data</h3>
  <div class="file-upload-container">
    <input type="file" id="file-input" name="fileInput">
    <label for="file-input">
      <div class="infos">
        <i class="fas fa-download"></i>
        <p>Select or drag a file here</p>
      </div>
    </label>
  </div>
</section>
