<section id="websocket">
  <h3>WebSocket</h3>
  <div class="form-elems">
    <div class="form-elem">
      <label for="ws-addr"></label>
      <input type="text" id="ws-addr" name="wsAddr" autocomplete="url" value="ws://">
    </div>
  </div>
</section>
