$logo-liara-small-dark: '../public/assets/logo-liara-small-dark.png';
$logo-liara-small-light: '../public/assets/logo-liara-small-light.png';
$logo-liara-large-dark: '../public/assets/logo-liara-large-dark.png';
$logo-liara-large-light: '../public/assets/logo-liara-large-light.png';
