<h1>
  {{title}}
  <span class="badge badge-right">{{total}}</span>
</h1>

<div class="grid-container" id="sources">
  <div class="outer-grid">
    <div class="outer-item" id="add">
      <div class="content">
        <i class="fas fa-plus"></i>
        <h3>Add a new data source</h3>
      </div>
    </div>
  </div>
  <div class="grid-sources">
    {{#sources}}{{> source-list}}{{/sources}}
  </div>
</div>
