<h1>{{title}}</h1>

<div class="change-password">
  <div class="form">
    <form action="#">
      <input type="email" id="email" name="email" autocomplete="email" required readonly />
      <input type="password" id="current-password" name="currentPassword" placeholder="Current Password"
        autocomplete="current-password" minlength="8" required />
      <input type="password" id="new-password" name="newPassword" placeholder="New Password" autocomplete="new-password"
        minlength="8" required />
      <input type="password" id="new-password-confirm" name="newPasswordConfirm" placeholder="New Password Confirmation"
        autocomplete="false" minlength="8" required />
      <button type="submit">Change password</button>
    </form>
    <button id="cancel" class="link">Cancel</button>
  </div>
</div>
