<div class="form-infos form-infos-modal">
  <div class="form">
    <label for="attribute-name"></label>
    {{#if attribute}}
      <input type="text" id="attribute-name" name="attribute-name" autocomplete="false" placeholder="Attribute name"
      value="{{attribute}}" required />
    {{else}}
      <input type="text" id="attribute-name" name="attribute-name" autocomplete="false" placeholder="Attribute name"
      required />
    {{/if}}
  </div>
</div>
