{{#each features as |feature|}}
<div class="feature-item" data-slug="{{feature.slug}}">
  <i class="fas fa-check"></i>
  <p>{{feature.label}}</p>
</div>
</div>
{{else}}
{{#[utils/compare] loading '===' true}}
<div class="no-data-container">
  <div class="loading-item">
    <span class="loading">
      Fetching data...
      <i class="fas fa-spinner"></i>
    </span>
  </div>
</div>
{{else}}
<div class="no-data-container">
  <div class="no-data-item">
    <span class="no-data">
      No feature found ☹️
    </span>
  </div>
</div>
{{/[utils/compare]}}
{{/each}}
