<div class="task-content">
  <h2>{{title}}</h2>
  <div class="switch-group switch-large no-padding">
    <input type="radio" id="switch-raw-file" name="source" value="raw-file" />
    <label for="switch-raw-file">
      <i class="fas fa-file-alt"></i>
      Raw File
    </label>
    <input type="radio" id="switch-feature-file" name="source" value="features-file" />
    <label for="switch-feature-file">
      <i class="fas fa-square-root-alt"></i>
      Feat. File
    </label>
    <input type="radio" id="switch-ws" name="source" value="ws" />
    <label for="switch-ws">
      WS
      <i class="fas fa-plug"></i>
    </label>
  </div>
  <div class="input-content">
  </div>
</div>
<div class="btn-group-nav">
  <div class="next">
    <button class="primary">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="previous">
    <button class="secondary">
      <i class="fas fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>
