<div class="feature-container" id="all-features">
  <h3>
    Features
    <span class="badge badge-right">{{~totalFeatures~}}</span>
  </h3>
  <div class="list-container">
    {{#features}}{{> ../feature-list}}{{/features}}
  </div>
</div>
