$color-primary: #4d5057;
$color-secondary: #3a3c41;
$color-text: #f9f9f9;
$color-text-darker: #717379;
$color-accent: #2297de;
$color-accent-darker: #2f82b6;

$menu-width-desktop: 340px;
$menu-width-tablet: 100px;
$menu-width-smartphone: 230px;

$logo-large: "../images/logo-liara-large.png";
$logo-small: "../images/logo-liara-small.png";

$icon-home: "../images/icon-home.png";
$icon-data-viz: "../images/icon-data-viz.png";
$icon-workflow: "../images/icon-workflow.png";
$icon-cluster: "../images/icon-cluster.png";
$icon-proxy: "../images/icon-proxy.png";
$icon-menu-logout: "../images/icon-logout.png";

@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}

@mixin box-shadow($params...) {
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
  }

body{
	background:$color-primary;
	font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color:$color-text;
}

.login{
	position: relative;
	width: 25%;
	padding: 10px 25px;
	margin: 10vh auto;
	
	.logo {
		margin-bottom: 4vh;
		text-align: center;

		img{
			width: 250px;
			margin-bottom: 3vh;
		}

		h2{
			font-size: 2em;
		}
	}

	.form{ 
		width: 100%; 
		height: 100%; 
	}
	
	.user, 
	.password, 
	button{
		width: 100%;
		height: 45px;
		border: none;
		font-size: 20px;
		font-weight: lighter;
		margin-bottom: 30px;
	}

	.user, 
	.password{ 
		background: $color-secondary; 
		@include box-shadow(inset 1px 2px 6px rgba(43, 41, 41, 0.65));
		padding: 0 1em ;
		@include placeholder {
			color: $color-text-darker;
		}
		color: $color-text;
	}

	button{
		color: #fff;
		cursor: pointer;
		margin-top: 20px;
		background: $color-accent;
		transition: background 0.4s ease;

		&:hover{
			background: $color-accent-darker;
		}
	}

	.links{
		border-top: 1px solid $color-text;
		text-align: center;
		margin-top: 10vh;

		a {
			padding-top:2em;
			font-size:.75em;
			display: inline-block;
			cursor:pointer;
			color: $color-text;
			text-decoration: none;
			

			&:not(:first-child){
				padding-left: 5%;
			}

			&:hover{
				color: $color-text-darker;
			}
		}
	}
}

@media only screen and (min-width : 280px) {
	.login{ width: 90% }
}

@media only screen and (min-width : 480px) {
	.login{ width: 60% }
}

@media only screen and (min-width : 768px) {
	.login{ width: 40% }
}

@media only screen and (min-width : 992px) {
	.login{ width: 30% }
}

.wrap{
	padding-left:$menu-width-desktop;
}

main{
	position:relative;
	height:100vh;
}

.menu{
	background:$color-secondary;
	height:100vh;
	width:$menu-width-desktop;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	outline:none;
	border-right: 3px solid $color-accent;

	.logo{
		padding:2em 0.5em;
		text-align:center;
		
		img{
			width:240px;
			content:url($logo-large);
			overflow: hidden;
			transition:all 0.05s linear;
		}
		
		h2{
			font-weight:normal;
			margin-bottom:0;
		}
	}
	
	ul{
		list-style:none;
		padding:0.5em 0;
		margin:0;
		
		li{
			padding:1em 1em 1em 3em;
			font-size:1.05em;
			font-weight:regular;
			background-repeat:no-repeat;
			background-position:left 15px center;
			background-size:auto 20px;
			transition:all 0.10s linear;
			cursor:pointer;

			&.icon-home{
				background-image:url($icon-home);
			}

			&.icon-data-viz{
				background-image:url($icon-data-viz);
			}

			&.icon-workflow{
				background-image:url($icon-workflow);
			}

			&.icon-cluster{
				background-image:url($icon-cluster);
			}

			&.icon-proxy{
				background-image:url($icon-proxy);
			}

			&.icon-menu-logout{
				background-image:url($icon-menu-logout);
			}

			&.active,
			&.active:hover{
				background-color:$color-accent;
				cursor: initial;
			}

			&:hover{
				background-color:$color-primary;
			}
			
			&:focus{
				outline:none;
			}
		}
	}
}

@media screen and (max-width:900px) and (min-width:400px){
	.wrap{
		padding-left:$menu-width-tablet;
	}
	.menu{
		width:$menu-width-tablet;
		
		.logo{
			padding:0.5em 0.5em 3em 0.5em ;
			position:relative;

			img{
				width:$menu-width-tablet - 30px;
				content:url($logo-small);
			}
			
			h2{
				opacity:0;
				position:absolute;
				top:35%;
				left:$menu-width-tablet + 10px;
				margin:0;
				min-width:200px;
				border-radius:4px;
				background:rgba(0,0,0,0.4);
				transform:translate3d(-20px,-50%,0);
				transition:all 0.10s ease-in-out;
			}
			
			&:hover{
				h2{
					opacity:1;
					transform:translate3d(0px,-50%,0);
				}
			}
		}
		
		ul{
			li{
				height:$menu-width-tablet/1.5;
				background-position:center center;
				background-size:30px auto;
				position:relative;

				span{
					opacity:0;
					position:absolute;
					background:rgba(0,0,0,0.5);
					padding:0.2em 0.5em;
					border-radius:4px;
					top:50%;
					left:$menu-width-tablet - 10px;
					transform:translate3d(-15px,-50%, 0);
					transition:all 0.15s ease-in-out;
					
					&:before{
						content:'';
						width:0;
						height:0;
						position:absolute;
						top:50%;
						left:-5px;
						border-top:5px solid transparent;
						border-bottom:5px solid transparent;
						border-right:5px solid rgba(0,0,0,0.5);
						transform:translateY(-50%);
					}
				}
				
				&:hover{
					span{
						opacity:1;
						transform:translate3d(0px,-50%, 0);
					}
				}
			}
		}
	}
}

@media screen and (max-width:400px){
	.wrap{
		padding-left:0;
	}
	
	.menu{
		width:$menu-width-smartphone;
		box-shadow:0 0 0 100em rgba(0,0,0,0);
		transform:translate3d(-$menu-width-smartphone,0,0);
		transition:all 0.3s ease-in-out;
		
		.smartphone-menu-trigger{
			width:40px;
			height:40px;
			position:absolute;
			left:100%;
			background:$color-secondary;
			
			&:before, &:after{
				content:'';
				width:50%;
				height:2px;
				background:#fff;
				border-radius:10px;
				position:absolute;
				top:45%;
				left:50%;
				transform:translate3d(-50%, -50%, 0);
			}
			
			&:after{
				top:55%;
				transform:translate3d(-50%, -50%, 0);
			}
		}
		
		ul{
			
			li{
				padding:1em 1em 1em 3em;
				font-size:1.2em;
			}
		}
		
		&:focus{
			transform:translate3d(0,0,0);
			box-shadow:0 0 0 100em rgba(0,0,0,0.6);
			
			.smartphone-menu-trigger{
				pointer-events:none;
			}
		}
	}
}
