<div class="task-content">
  <section>
    <h3>File Upload</h3>
    <p>File upload</p>
  </section>
  <section>
    <h3>File Selection</h3>
    <p>File selection</p>
  </section>
  <section class="section-disabled">
    <h3>WebSocket</h3>
    <input type="text" id="ws-addr" name="wsAddr" autocomplete="url" value="ws://">
  </section>
</div>
