<div class="task-content">
  <h2>{{title}}</h2>
  <section id="process">
    <div class="form-elems">
      <div class="form-elem inline">
        <span class="label-container">
          <label for="algo">Algo</label>
        </span>
        <select id="algo">
          <option value="none" data-algo="none" selected>Select an Algorithm</option>
          <optgroup id="supervised-group" label="Supervised">
            {{#supervised-algo}}{{> algo-list}}{{/supervised-algo}}
          </optgroup>
          <optgroup id="unsupervised-group" label="Unsupervised">
            {{#unsupervised-algo}}{{> algo-list}}{{/unsupervised-algo}}
          </optgroup>
        </select>
      </div>
      <div class="form-elem inline disabled">
        <span class="label-container">
          <label for="algo-container">Cont.</label>
        </span>
        <input type="text" id="algo-container" name="algo-container" value="{{container}}" autocomplete="false"
          disabled>
      </div>
    </div>
    <div class="algo-params">
      <h3>Parameters</h3>
      <div class="params-container">
        {{> params}}
      </div>
    </div>
  </section>
</div>
<div class="btn-group-nav">
  <div class="finish">
    <button class="primary">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
  <div class="previous">
    <button class="secondary">
      <i class="fas fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>
{{> ../config-download}}
