<div class="filters">
  <span class="filter filter-active" data-action="alpha-sort" data-order="asc">
    <i class="fas fa-font"></i>
    <i class="fas fa-long-arrow-alt-up"></i>
  </span>
  <span class="filter" data-action="state-sort" data-order="asc">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-long-arrow-alt-up"></i>
  </span>
  <span class="filter" data-action="container-sort" data-order="asc">
    <i class="fas fa-box-open"></i>
    <i class="fas fa-long-arrow-alt-up"></i>
  </span>
</div>
