<div class="search-container">
  <i class="fas fa-search"></i>
  <label for="search"></label>
  <input type="text" id="search" name="search" autocomplete="false" placeholder="Looking for something ?">
</div>
