<div class="task-content">
  <h2>{{title}}</h2>
  <div class="switch-group">
    <input type="radio" id="switch-on" name="enable" value="on" />
    <label for="switch-on">
      <i class="fas fa-thumbs-up"></i>
      On
    </label>
    <input type="radio" id="switch-off" name="enable" value="off" />
    <label for="switch-off">
      Off
      <i class="fas fa-thumbs-down"></i>
    </label>
  </div>
  <section id="window">
    <div class="form-elems">
      <div class="form-elem inline">
        <span class="label-container">
          <label for="window-length">Length</label>
        </span>
        <input type="number" id="window-length" name="length" value="0" autocomplete="false"
          placeholder="Enter the size of the window">
      </div>
      <div class="form-elem inline">
        <span class="label-container">
          <label for="window-length">Func</label>
        </span>
        <select id="window-type">
          <option value="none">No function</option>
          <option value="rectangular">Rectangular</option>
          <option value="triangular" disabled>Triangular</option>
          <option value="hamming" disabled>Hamming</option>
          <option value="hann" disabled>Hann</option>
        </select>
      </div>
      <div class="form-elem block">
        <label for="overlap">
          Overlap
          <span id="range-value" class="badge badge-right">40 %</span>
        </label>
        <input type="range" id="overlap" name="overlap" min="0" max="100" value="0">
      </div>
  </section>
</div>
<div class="btn-group-nav">
  <div class="next">
    <button class="primary">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="previous">
    <button class="secondary">
      <i class="fas fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>
